*
!.gitignore
!pubspec.yaml
!README.md
!lib/
!lib/**/
!lib/**/*.dart
!test_driver/
!test_driver/integration_test.dart
!integration_test/
!integration_test/litertlm_test.dart
!android/
!android/**/
android/.gitignore
!android/app/src/main/kotlin/org/rockstudio/litertlm_example/MainActivity.kt
!android/app/src/debug/AndroidManifest.xml
